body {
    font-family: Poppins, sans-serif;
    background-color: #cfe8f3; 
    margin: 0;
    color: #2c4a42;                       
}

header {
    background-color: whitesmoke;
    color: #0b3d3a;
    padding: 20px 0 10px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgb(0, 0, 0.06);
}

header h1{
    margin: 0 0 10px 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;                
    display: flex;            
    justify-content: center;  
    gap: 20px;                
}

nav ul li {
    display: inline-block;    /* Para respetar flexbox */
}

nav ul a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: text-decoration 0.2s, color 0.2s;
}

nav ul a:hover {
    text-decoration: underline;
    color: rgb(255, 247, 132);
}


main{
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding: 0px;
    padding-bottom: 70px;
}

.medicos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    max-width: 1000px;
    padding: 20px 0;
}

.fotoCatalogo {
    width: 60%;
    height: auto;
    display: block;
    object-fit: cover; 
    margin: 20px auto;
    border: 2px solid #343232;              /* le puse un marco gris */
    box-shadow: 0 2px 6px rgba(0,0,0,.3); 
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 15px;
}
